{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'fabricjs/style.css' %}">

<h1 align=center>Fabricjs</h1>
<h2 align=center>Table of Contents</h2>
<ul>
    <h3 align=left>Fabricjs - Basics Course Tutorial</h3>   
    <!--Hardcode URL removed and set App name-->
    <li><a href="{% url 'fabricjs:Basics_Course_Tutorial' 1 %}">Fabric.js Tutorial-Part 1: Introduction</a></li>
    <li><a href="{% url 'fabricjs:Basics_Course_Tutorial' 2 %}">Fabric.js Tutorial-Part 2: Add Object</a></li>
    <li><a href="{% url 'fabricjs:Basics_Course_Tutorial' 3 %}">Fabric.js Tutorial - Part 3: Load Image</a></li>   
    <li><a href="{% url 'fabricjs:Basics_Course_Tutorial' 4 %}">Fabric.js Tutorial - Part 4: Animation</a></li>     
    <li><a href="{% url 'fabricjs:Basics_Course_Tutorial' 5 %}">Fabric.js Tutorial - Part 5: Event</a></li>   
    <li><a href="{% url 'fabricjs:Basics_Course_Tutorial' 6 %}">Fabric.js Tutorial - Part 6: Export Canvas to Image</a></li>   
    <br>
    <h3 align=left>Fabricjs - Official Documentation </h3>
    <!--Hardcode URL removed and set App name-->
    <li><a href="{% url 'fabricjs:Official_Documentation' 7 %}">Fabric.js Object caching</a></li>
    <li><a href="{% url 'fabricjs:Official_Documentation' 8 %}">Introduction to Fabric.js. Part 1</a></li>  
    <li><a href="{% url 'fabricjs:Official_Documentation' 9 %}">Introduction to Fabric.js. Part 2</a></li>    
    <li><a href="{% url 'fabricjs:Official_Documentation' 10 %}">Introduction to Fabric.js. Part 3</a></li> 
    <li><a href="{% url 'fabricjs:Official_Documentation' 11 %}">Introduction to Fabric.js. Part 4</a></li>   
    <li><a href="{% url 'fabricjs:Official_Documentation' 12 %}">Introduction to Fabric.js. Part 5</a></li>   
</ul>